@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importando as fontes Raleway e Roboto do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Animação FadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s forwards;
}

/* Animação SlideUp */
@keyframes slideUp {
  from {
    transform: translateY(1rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideUp {
  animation: slideUp 1s forwards;
}

.bg-gradient {
  background-image: linear-gradient(to right, #4A90E2, #A29BFE, #FF6B6B);
}
